.skills {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
/*    grid-template-rows: repeat(3, calc(33.33vh - 20px * 0.66));*/
    grid-gap: 10px;
    .btn-set {
        padding: 10px 0 30px;
    }
}

.skill {
    &-item {
        position: relative;
        padding: 20px;
        display: grid;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            .skill-item {
                &__overlay {
                    opacity: 0.95;
                }
                &__title {
                    color: $color-orange;  
                }
                &__image {
                    transform: scale(1.1);
                }
            }
        }
        &:nth-of-type(1) {
            grid-column: 1 / span 2;
        }
        &:nth-of-type(5) {
            grid-column: 2 / span 2;
        }
        &:nth-of-type(6) {
            grid-column: 4;
            grid-row: 2 / span 2;
        }
        &__overlay {
            background-color: $color-dark;
            opacity: 0.8;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            transition: opacity 0.5s;
        }
        &__image {
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: transform 0.5s;
        }
        &__title {
            position: relative;
            z-index: 2;
            color: $color-light;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            transition: color 0.5s;
        } 
    }
}
