@media (min-height: 451px) {
    .skill-item {
        min-height: calc(33.33vh - 20px * 0.66);
    }
}

@media (max-height: 450px) {
    .skill-item {
        min-height: 137px;
    }
}

@media (max-width: 992px) {
    .header-title {
        font-size: 40px;
        margin: 0 0 43px;
    }
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .skill-item:nth-of-type(4) {
        grid-column: 2 / span 2;
    }

    .skill-item:nth-of-type(5) {
        grid-column: 1 / span 2 ;
    }

    .skill-item:nth-of-type(6) {
        grid-column: 3;
        grid-row: 3 / span 2;
    }

    .skill-item:nth-of-type(7) {
        grid-column: 1;
        grid-row: 4 / span 2;
    }

    .skill-item:nth-of-type(9) {
        grid-column: 2 / span 2;
    }
    
    .btn-set {
        grid-column: 1 / span 3;
    }
    .btn {
        min-width: 200px;
        height: 50px;
        margin: 0 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 1rem;
    }
    .about {
        padding-top: 80px;
        padding-bottom: 60px;

        .container {
            grid-gap: 40px;
        }
        &-content {
            h2 {
                font-size: 32px;
                margin-bottom: 40px;
            }
            p {
                font-size: 16px;
                &:first-of-type::after {
                    right: -20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 30px;
    }
    .header-menu {
        @include color-dark-grey(0.25);
    }

    .header-navbar__hamburger {
        display: block;
    }

    .header-navbar__list {
        display: none;
        position: absolute;
        top: 100%;
        right: 20px;
        @include color-dark-grey(0.9);
        text-align: right;
        width: auto;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-item:nth-of-type(1) {
        grid-column: 1;
    }

    .skill-item:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .skill-item:nth-of-type(4) {
        grid-column: 1 / span 2;
    }

    .skill-item:nth-of-type(5) {
        grid-column: 1;
        grid-row: 4 / span 2;
    }

    .skill-item:nth-of-type(6) {
        grid-column: 2;
        grid-row: 4;
    }

    .skill-item:nth-of-type(7) {
        grid-column: 2;
        grid-row: 5;
    }

    .skill-item:nth-of-type(9) {
        grid-column: 2 / span 1;
    }

    .btn-set {
        grid-column: 1 / span 2;
    }
    .btn {
        min-width: 170px;
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
        letter-spacing: 0.06em;
    }
    .about {
        padding-top: 60px;
        padding-bottom: 40px;

        .container {
            grid-gap: 20px;
            grid-template-columns: 1fr 240px;
        }

        &-content {
            h2 {
                font-size: 24px;
                margin-bottom: 30px;
            }
            p {
                &:first-of-type::after {
                    right: -10px;
                }
            }
        }
    }
    .form {
        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
        &-item {

            &:nth-of-type(1) {
                grid-column: 1 / span 2;
            }
            &:nth-of-type(3) {
                grid-row: 2;
                grid-column: 2 / span 1;
            }
        }
    }
}

@media (max-width: 576px) {
    .header-buttons {
        padding-bottom: 20px;
    }
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 20px;
        padding: 20px;

        .btn-set {
            grid-column: 1;
            grid-row: 10;
            justify-items: stretch;
            padding: 0;
        }
    }
    .skill-item:nth-of-type(1) {
        grid-column: 1;
    }

    .skill-item:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .skill-item:nth-of-type(4) {
        grid-column: 1;
    }

    .skill-item:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
    }

    .skill-item:nth-of-type(6) {
        grid-column: 1;
        grid-row: 6;
    }

    .skill-item:nth-of-type(7) {
        grid-column: 1;
        grid-row: 7;
    }

    .skill-item:nth-of-type(9) {
        grid-column: 1;
    }

    .btn-accent {
        margin: 0;
    }
    .about {
        clear: both;

        .container {
            grid-template-columns: 1fr;
        }

        &-content {
            h2 {
                text-align: center;
            }
            p {
                &:first-of-type::after {
                    display: none;
                }
            }
        }
    }
    .form {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
        &-item {
            &:nth-of-type(1) {
                grid-row: 1;
                grid-column: 1;
            }

            &:nth-of-type(2) {
                grid-row: 2;
                grid-column: 1;
            }
            &:nth-of-type(3) {
                grid-row: 3;
                grid-column: 1;
            }
        }
    }
}