$color-light: #ffffff;
$color-orange: #d66926;
$color-red: #d53d27;
$color-grey: #637588;
$color-darkgrey: #44596e;
$color-dark: #2d3651;
// $color-rgba1: #44596ee6;
// $color-rgba2: rgba(68, 89, 110, 0.25);
// $color-rgba3: rgba(255, 255, 255, 0.1);
$color-rgba4: rgba(45, 54, 82, 0.8);
$color-about: #e5e5e5;
// $color-input: rgba(255, 255, 255, 0.05);
// $color-input-hover: rgba(255, 255, 255, 0.15);