$color-light: #ffffff;
$color-orange: #d66926;
$color-red: #d53d27;
$color-grey: #637588;
$color-darkgrey: #44596e;
$color-dark: #2d3651;
$color-rgba: rgba(45, 54, 82, 0.8);
$color-about: #e5e5e5;
